<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Ion-Reorder
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  The world is your oyster.
  <p>If you get lost, the
    <a target="_blank" rel="noopener" href="https://ionicframework.com/docs">docs</a> will be your guide.</p>


  <h3>
      <ion-text color="primary">&lt;ion-reorder-group&gt; with &lt;ion-item-sliding&gt;</ion-text>
  </h3>
  <p>&lt;ion-item-sliding&gt; stops working for rows that have been reordered</p>

  <ion-grid fixed>
    <ion-row>
      <ion-col size="6"  style="background-color: lightgray;">
        <ion-list id="sliding-list-1">
          <ion-reorder-group disabled="false"
            (ionItemReorder)="reorder($event)">
            <ion-item-sliding *ngFor="let item of items"
              (click)="close($event, item)">
              <ion-item>
                <ion-label>{{item}}</ion-label>
                <ion-reorder slot="end"></ion-reorder>
              </ion-item>
              <ion-item-options>
                <ion-item-option color="danger" slot="top" (click)="delete($event, item)">
                  <ion-icon name="trash" slot="top"></ion-icon>
                  <ion-label>Delete</ion-label>
                </ion-item-option>
              </ion-item-options>
            </ion-item-sliding>
          </ion-reorder-group>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>